；<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <!--        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>-->
        <h1>批量新增</h1>
        <h2>您目前的批量群組</h2>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">classroom</th>
                <th scope="col">start_date</th>
                <th scope="col">end_date</th>
                <th scope="col">start_time</th>
                <th scope="col">end_time</th>
                <th scope="col">info</th>
                <th scope="col">isBatch</th>
                <th scope="col">operate</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="yourBatch: ${yourBatchs}">
                <form th:action="@{/deleteBatch}"  method="post" enctype="multipart/form-data">
                    <input name="id" th:value="${yourBatch.id}" hidden>
                    <input name="info" th:value="${yourBatch.info}" hidden>
                    <input name="isBatch" th:value="${yourBatch.isBatch()}" hidden>
                    <th scope="row" th:text="${yourBatch.classroom}" />
                    <td th:text="${yourBatch.date}" />
                    <td th:text="${yourBatch.endDate}" />
                    <td th:text="${yourBatch.start}" />
                    <td th:text="${yourBatch.end}" />
                    <td th:text="${yourBatch.info}" />
                    <td th:text="${yourBatch.isBatch()}" />
                    <td><button type="submit" class="btn btn-danger" id="deleteButton">Delete</button></td>
                </form>
            </tr>

            </tbody>
        </table>

        <h2>批量新增</h2>
        <div class="alert alert-danger" role="alert" th:if="${msg!=null && !msg.equals('新增成功')}">
            [[${msg}]]
        </div>
        <div class="alert alert-success" role="alert" th:if="${msg!=null && msg.equals('新增成功')}">
            [[${msg}]]
        </div>
        <form th:action="@{/addBatch}"  method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label for="inputStudentId">StudentId</label>
                <input type="text" name="studentId" class="form-control" id="inputStudentId"  th:value="${p.get('identifier')}" disabled>
            </div>
            <div class="form-group">
                <label for="inputChineseName">ChineseName</label>
                <input type="text" name="chineseName" class="form-control" id="inputChineseName"  th:value="${p.get('chineseName')}" disabled>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" th:value="${p.get('email')}" disabled>
                <small id="emailHelp" class="form-text text-muted">此emal是您protal上登記的email，預約時間前半小時會寄email提醒您</small>
            </div>
            <div class="form-group">
                <label>choose classroom</label>
                <select name="classroom" class="form-select" aria-label="Default select example" required>
                    <option value="S130" >S130</option>
                    <option value="S231" >S231</option>
                    <option value="S253" >S253</option>
                </select>
            </div>

            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate" required>
            </div>
            <div class="form-group">
                <label for="weeks">持續幾週 weeks</label>
                <input type="number" name="weeks" class="form-control" id="weeks"  >
            </div>
            <div class="form-group">
                <label for="start">Choose a time for your meeting start:</label>
                <input type="time" id="start" name="start"  min="09:00" max="18:00" step="3600" required>
            </div>
            <div class="form-group">
                <label for="end">Choose a time for your meeting end:</label>
                <input type="time" id="end" name="end"  min="09:00" max="18:00" step="3600" required>
            </div>
            <div class="form-group">
                <label for="info">info</label>
                <input type="text" name="info" class="form-control" id="info"  >
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>



    </div>

</div>
<!-- /.container -->
<div th:replace="fragments/footer :: footer"/>

</body>
</html>