<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>中央大學應地所-教室預約系統</title>
    <style>
        /* 将 h2 定位到页面的右上角 */
        h2 {
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
        }
        /* 设置页脚样式 */
        footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 50px;
            background-color: #f8f8f8;
            text-align: center;
            padding-top: 15px;
        }
    </style>
</head>
<body>
<h2><a th:href="@{/home}">教室預約系統v2(開發中~~請勿使用DON'T USE)</a></h2>
<h3>Apply for classroom reservation</h3>
<p>( S130, S253 上課時間的預約無效, 請先查看<a href="http://www.geo.ncu.edu.tw/wordpress/%e8%aa%b2%e7%a8%8b%e5%85%a7%e5%ae%b9/">學期課表</a> )</p>
<iframe src="https://ap8.ragic.com/ncugeo/report/display?reportwv&id=5" width="100%" height="1000"></iframe>

<h3>Check the current vacancy of the classroom</h3>
<iframe src="https://ap8.ragic.com/ncugeo/report/display?reportwv&id=8" width="100%" height="1300"></iframe>

<footer>
    <p>Copyright © GEO All Rights Reserved.2023</p>
</footer>
</body>
</html>